.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
    height: 0; 
    overflow: hidden; 

  }

  body {
    overflow: scroll;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 5px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #4c4c4c;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #191919;   
    border-radius: 20px;       
  }